/* EPS PHOTO CAPTION     PAGE STYLES */
@media (max-width: 600px){
	body{
        background-color:  #333333;
    }
    #photo{
        margin-top: 25%;
        color: #a6a6a6;
        text-align: center;
        white-space: pre-wrap;
    }
    #photo img{
        width: 90%;
        height: auto;
        margin: auto;
    }
    .caption{
       margin-top: 0;
    }
}