/* EPS CONTACT PAGE STYLES */
@media (max-width: 600px){
	.sb-contact, .f-contact{
		text-decoration: line-through;
	}
	.petTypeInfo{
		font-style: italic;
		font-size: .75em;
	}
	input, select { 
		 margin-bottom: 3%;
	}
	input, option {
		text-align: center;
	}
}