/* EPS PHOTOS PAGE STYLES */
@media (max-width: 600px){
	.photos-image{
		width: 100%;
		border: 2px solid black;
		margin: 1%;
	}
	.photos-image img{
		width: 100%;
		height: auto;
		margin: 0;
	}
	.photos-image .photos-caption{
		background-color: white;
		padding: 1%;
	}
	#clear{
		clear: both;
	}
	.sb-photos, .f-photos{
		text-decoration: line-through;
	}
}