/* EPS ABOUT PAGE STYLES */
@media (max-width: 600px){
	#about-image{
		width: 50%;
		height: auto;
	}
	#about-description{
		white-space: pre-wrap;
	}
	.sb-about, .f-about{
		text-decoration: line-through;
	}
}